.htaccess
.vs
.well-known
*.swp
private
vendor
# hosting runtime files
public/.php-ini
public/.php-version
# codegraph metadata
.codegraph
# phpunit metadata
.phpunit.result.cache
# coveralls logs
build
