BODY { background: none #fff no-repeat; margin: 0 }

#AUTH { float: right; color: #fff; padding: 0.3em }
#HDR0, #HDR { background-color: #089698; color: #eee; margin: 0 }
#HDR FORM { margin: 0 }
#HDR TD { color: #eee }
.field {margin: 0.5em 1em }
/*
#CP { border: thin solid #eee }
#Q { border: thin solid #eee }
#GO { border: thin solid #eee; background-color: #ff8f35; color: #000; height: 1.5em; font-weight: bolder }
 */

DIV.det { margin: 10px }

#LOGO h1 span { display: none }
#LOGO h1 { background: #089698 url(manx.png) no-repeat top left; height: 80px; margin: 0}

H1, H2 { color: #089698; background-color: transparent }

TABLE.restable TD,
TABLE.restable TH { padding: 0.1em 1em; text-align: left }
table.restable td.idcol,
table.restable th.idcol { text-align: right }
.restable BLOCKQUOTE { margin: 0.5em 2em; font-size: smaller }

.logo { float: left; width: 180px }

IMG.button { border: none }

/*.resbar { background-color: #089698; color: #fff; padding: 0.1em 1em }*/
.resbar { background-color: transparent; color: #000; font-weight: bolder; padding: 0.2em 1em; margin-top: 0.5em }

DIV.query {
	margin-left: 10em;
}

.query span { float: left; width: 10em }

.pagesel {
	margin-top: 0.5em;
	padding-top: 0.2em;
	border-top: thin solid #089698;
	text-align: center
}

.warning { background-color: transparent; color: #f00 }

DIV.toc UL { margin-left: 0; padding-left: 0 }
DIV.toc LI { padding-left: 0; list-style-type: none }
DIV.toc LI.level1 SPAN.level1 { padding-right: 1em}
DIV.toc LI.level2 { margin-left: 3em }
DIV.toc LI.level2 SPAN { float: left; width: 5em }
DIV.toc LI.level3 SPAN { float: left; width: 7em }
DIV.toc LI.level4 SPAN { float: left; width: 9em }
DIV.toc LI.level5 SPAN { float: left; width: 11em }

UL.citelist { margin: 0; padding-left: 0 }
UL.citelist LI { padding-left: 0; list-style-type: none }

.navbot { text-align: right }
.nodisp { display: none }
#MENU { background-color: #089698; padding: 3px 10px; margin-top: 1px }
#MENU A { color: #eee; text-decoration: none; font-weight: bolder;
	border-right: 1px solid #eee; padding: 3px 10px
}
#MENU A.first { border-left: 1px solid #eee }
#MENU A:hover { background-color: #ff8f35; color: #000 }
#MENU A.firston { border-left: 1px solid #eee; background-color: #ff8f35; color: #000 }
#MENU A.on { background-color: #ff8f35; color: #000 }

.ss { color: #999; background-color: transparent }

/* Login styles */
#LOGINBOX { margin: 0 auto; background-color: #cce5e6; border: 2px solid #089698 ; padding: 5px }
#LOGIBOX label { float: right }
#LOGIBUTT { float: right }

/* add-pub */
#addformdiv { margin-left: 15em }
#addform label { float: left; width: 10em; white-space: nowrap }
#addform input, #addform select { margin-left: 10em }
#addform ul { list-style: none; /* margin: 0; padding: 0 */ }
/*#addform li { margin: 0; padding: 0 }*/
#partlist { margin-left: 20em }

#wikipagemenu { }
#wikipagemenu ul { display: block }
#wikipagemenu li { background: white none repeat scroll 0 0 }
#wikipagemenu li { display: inline; border-style: solid solid none; border-color: #fcc; border-width: 1px; float: left; margin: 0 2px; padding: 2px 5px; white-space: nowrap }
#wikipagemenu li.current, #wikipagemenu li.current:hover { background: #f99 none repeat scroll 0 0; border-style: solid; border: 1px solid #000; border-bottom: 1px solid #f99; margin-bottom: -1px }
#wikipagemenu li:hover { background-color: #ff0; }
#wikipagemenusep { background: #f99 none repeat scroll 0 0; border-bottom: 1px solid #000; border-top: 1px solid #000; clear: both; height: 4px; line-height: 4px; margin: 0; padding: 0; width: 100% }
#wikitext { margin: 1em 0 0 15em; border: 1px solid #ccc; padding:5px }
.deadlink { color: #900 }
#wikitext textarea { width: 100% }
