<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="manx">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">cron</directory>
            <directory suffix=".php">public/api</directory>
            <directory suffix=".php">public/pages</directory>
        </include>
    </coverage>
</phpunit>
